.expand-minimap-btn{

    font-size : 24px;
    background : #4AF29B;
    border:10px solid darkgray;
    border-style: outset;
	font-weight: bold;

}

.container{
    max-width: 1970px;
    max-height : 1970px;
    text-align: center;
    display: flex;
    flex-direction : row-reverse;
}

.containerExpand{
    text-align: center;
    margin:30px;
    height: 90%;
    width: 90%;
}

.welcome{

    width: 100%;
    text-align: center;
    margin-top : 250px;
}

.tree {

    width : 100px;
    margin-top : 100px;
    margin-right : 20px;
}

.branch{
    flex : 1;
    margin-top : 50px;
    height : 1000px;
    margin-left : 20px;
    width : 100%;

}

.tree-root{

    margin-top : 100px;

}
.shopping-cart{
    margin-top : 175px;
    margin-left: 0px;
    padding: 0px;
    width: 245px;
}

.ingredientsCSS{
    padding: 30px;
    text-align: center;
    font-weight:bolder;
    background-color: #4AF29B;
    border-radius: 25px;
    border: 4px solid #007bff;
}

.ingredients-List-Item{
    margin: 0%;
}

h1{
    margin-top : 150px;
}

.quiz-button-div{

    margin-top : 150px;

}

.quiz-button{

    font-size : 36px;
}


h6{

    color : #007bff;
    font-size : 50px;

}

h7{
    font-size : 30px;
    color : darkgray;


}

.tree-node{
    margin-top : -50px;
    display: flex;
    flex-direction : row;
    align-items: center;
    justify-content: center;
}

.child-button{

    width : 300px;
    height: 300px;
    background-color : #007bff;
box-shadow: 10px 10px #888888;

}

.parent-button{

    width : 200px;
    height: 200px;
    background-color : #4AF29B;

}

.tree_node_button{
    width : 400px;

}


.child-node-div{

     height : 100%

}

.child-node-image{

}

.child-node-text{

    margin-bottom : 50px;
    font-size : 36px;
	font-weight: bold;

}

.parent-node-div{

     height : 100%

}

.parent-node-image{

}

.parent-node-text{

    margin-bottom : 20px;
    font-size : 26px;
	font-weight: bold;

}

.theme_css{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #007bff;
}

.theme_background_image{
    position: absolute;
    color:white;
    width: 100vw;
    height: 85%;
    margin-bottom: 200px;
}


#theme-title{
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-top: 250px;
    margin-left: 400px;
}

#learn-title {
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


#theme-description{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-left: 400px;
    margin-bottom: 100px;
}

#learn-description{
    color: grey;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.learn{
    padding-top: 1050px;
}


.round_img {
    width: 550px;
    border-radius: 50%;
}

#start_button {
    font-size: 24px;
    background-color: darkgray;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 3%;
    border-color: darkgray;
    margin-top: -360px;
    position: absolute;
    left: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start_button:hover{
    text-decoration:underline;
}

