<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="data:,">
	
	<!-- jquery -->
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script type="text/javascript" src="{{ url_for('static', filename = 'Choices.js') }}"></script>
	<script>
        var present = {{present|tojson}};
        var tree = {{tree|tojson}}
        console.log(id)
    
	</script>
	
	<title>Choices</title>
</head>
<body>


<div class="Choices" id="Choices">
	<button name="ChoicesButton" onclick="fillChoices()">
		
		<image src="{{url_for('static', filename='images/Choices.jpeg')}}"
		       alt="olive oil" height="100%" width="100%">
	
	</button>
</div>
<dialog id="ingredientsDialog">
	<p> Here are yor ingredients:</p>
	<div id="ingredients">
	
	</div>
</dialog>


{% block content %}

{% endblock %}

</div>
</div>
</body>
</html>




